PORT=9000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=cambiar_esto_por_el_usuario
DB_PASSWORD=cambiar_esto_por_la_contraseña
DB_NAME=turing_libreria
JWT_SECRET=cambiar_esto_por_un_secreto_largo
JWT_EXPIRES_IN=2h