PORT=9000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=cambiar_esto_por_el_usuario
DB_PASSWORD=cambiar_esto_por_la_contraseña
DB_NAME=turing_libreria
# Se puede probar para el secret el siguiente codigo
# python -c "import secrets; print(secrets.token_urlsafe(64))"
JWT_SECRET=cambiar_esto_por_un_secreto_largo
JWT_EXPIRES_IN=2h
CORS_ORIGIN=http://localhost:5173,http://localhost:4173
